<% if can_sample?(@product) %>
<div class="row">
  <div class="col-md-12 col-sm-12 col-xs-12">
    <button type="button" class="btn btn-secondary pull-right" data-toggle="modal" data-target="#sampleSelectModal">Available Samples</button>
  </div>
</div>

<!-- Modal -->
<div id="sampleSelectModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <%= form_for Spree::SampleProduct.new do |f| %>
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h1 class="modal-title">Select Your Sample</h1>
      </div>
      <div class="modal-body">

          <div class="list-group">
            <% @product.variants.each_with_index do |variant, index| %>
              <div class="list-group-item">
                <%= f.radio_button :variant_id, variant.id, {:checked => index == 0}
                      %>
                  <%= f.label :variant_id, variant.id, :value => variant.id do %>
                      <span class="variant-description">
                        <%= @product.name %> - <%= variant_options variant %>
                      </span>
                      <% if variant_price variant %>
                      <span class="price diff"><%= variant_price variant %></span>
                      <% end %>
                      <% unless variant.can_supply? %>
                        <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                      <% end %>
                  <% end %>
              </div>
            <% end %>
            <% if @product.can_sample? %>
            <div class="list-group-item">
              <%= f.radio_button :variant_id, @product.master.id, {:checked => @product.variants.blank? }
                    %>
                <%= f.label :variant_id, @product.master.id, :value => @product.master.id do %>
                    <span class="variant-description">
                      <%= @product.name %>
                    </span>
                    <% if variant_price @product.master  %>
                    <span class="price diff"><%= variant_price @product.master %></span>
                    <% end %>
                    <% unless @product.master.can_supply? %>
                      <span class="out-of-stock"><%= Spree.t(:out_of_stock) %></span>
                    <% end %>
                <% end %>
            </div>
            <% end %>
          </div>

      </div>
      <div class="modal-footer">
        <button type="submit" class="btn btn-default" data-dismiss="modal"><i class="bts bts-plus"></i> Cancel</button>
        <button type="submit" class="btn btn-primary"><i class="bts bts-plus"></i> Add to Sample Kit</button>
      </div>
      <% end %>
    </div>

  </div>
</div>
<% end %>
<!-- Trigger the modal with a button -->
